In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [98]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd
import datetime

def load():
    # data_dir = "/home/asia/Documents/projects/PyCharm/IUM/data/data_v3/"
    data_dir = "/content/drive/MyDrive/Data/IUM/V3/"
    data = {}
    data["deliveries"] = pd.read_json(data_dir + "deliveries.jsonl", lines = True)
    data["sessions"] = pd.read_json(data_dir + "sessions.jsonl", lines = True)
    data["products"] = pd.read_json(data_dir + "products.jsonl", lines = True)
    data["users"] = pd.read_json(data_dir + "users.jsonl", lines = True)
    return data

def preprocess_time(deliveries: pd.DataFrame):
    deliveries["purchase_timestamp"] = pd.to_datetime ( deliveries["purchase_timestamp"], format='%Y-%m-%dT%H:%M', errors="coerce")
    deliveries['delivery_timestamp'] = pd.to_datetime ( deliveries["delivery_timestamp"], format='%Y-%m-%dT%H:%M:%S', errors="coerce")
    return deliveries


def merge(data: {}) -> pd.DataFrame:
    s = data["sessions"]
    d = data["deliveries"]
    p = data["products"]
    u = data["users"]
    purchases = s[s["purchase_id"].notnull()].copy()
    merged = pd.merge(purchases, d, on='purchase_id', how = "outer")
    merged2 = pd.merge(merged, u, on="user_id", how = "outer")
    merged_full = pd.merge(merged2, p, on="product_id", how = "left")
    return merged_full

def select_columns (merged):
    to_select = ["product_id", "offered_discount", "purchase_timestamp", "delivery_timestamp", "delivery_company", "city", "street", "product_name", "category_path", "price"]
    return merged[to_select]

In [99]:
# load data, make sure timestamps are of datetime type and merge data
data = load()
data["deliveries"] = preprocess_time(data["deliveries"])
merged = merge(data)
merged.head()

   session_id  ...   price
0    100002.0  ...  193.00
1    100003.0  ...  129.00
2    100004.0  ...   69.00
3    100005.0  ...   58.97
4    100006.0  ...   19.99

[5 rows x 16 columns]

In [100]:
# drop that one row with user who didn't make a purchase
merged = merged.dropna()
merged.shape

(7287, 16)

In [101]:
def transform_columns(merged_df):
  merged_df["time_difference"] = merged_df["delivery_timestamp"] - merged_df["purchase_timestamp"]
  merged_df["time[min]"] = merged_df["time_difference"].apply(lambda x: int(round(x.total_seconds()/60)))
  merged_df = merged_df.drop(labels=["time_difference", "delivery_timestamp"], axis=1)

  merged_df["street_name"] = merged_df["street"].apply(lambda x: x.split(" ")[1])
  merged_df["street_name*num"] = merged_df["street"].apply(lambda x: x.split(" ")[1] + " " + x.split(" ")[2])
  merged_df = add_city_street(merged_df)
  merged_df = merged_df.drop(labels=["street"], axis=1)

  merged_df["purchase_day_of_week"] = merged_df["purchase_timestamp"].apply(lambda x: x.dayofweek)
  return merged_df

def add_city_street(merged_df):
  cities = merged_df["city"].to_list()
  streets = merged_df["street_name"].to_list()

  city_street = [cities[i] + "/" + streets[i] for i in range(len(cities))]

  merged_df["city*stret_name"] = city_street
  return merged_df

merged = select_columns(merged)
merged = transform_columns(merged)

In [103]:
merged.head()

   product_id  offered_discount  ...       city*stret_name  purchase_day_of_week
0      1234.0               0.0  ...  Police/Brzoskwiniowa                     3
1      1289.0              15.0  ...  Police/Brzoskwiniowa                     3
2      1009.0               0.0  ...  Police/Brzoskwiniowa                     6
3      1001.0               5.0  ...  Police/Brzoskwiniowa                     2
4      1057.0               5.0  ...  Police/Brzoskwiniowa                     5

[5 rows x 13 columns]

In [104]:
import numpy as np

def encode_cyclical(df):
  df["purchase_month"] = df["purchase_timestamp"].apply(lambda x: x.month)
  df["purchase_day"] = df["purchase_timestamp"].apply(lambda x: x.day)
  df["purchase_hour"] = df["purchase_timestamp"].apply(lambda x: x.hour)
  df["purchase_min"] = df["purchase_timestamp"].apply(lambda x: x.minute)

  cyclical = [("purchase_month", 12), ("purchase_day", 30), ("purchase_hour", 24), 
              ("purchase_min", 60), ("purchase_day_of_week", 7)]

  for feature, cycle in cyclical:
    df = encode_one_cyclical(df, feature, cycle)
    df = df.drop(feature, axis=1)
  df = df.drop("purchase_timestamp", axis=1)
  return df

def encode_one_cyclical(df, feature, num):
  df[feature + "_sin"] = np.sin(df[feature] * (2 * np.pi/num))
  df[feature + "_cos"] = np.cos(df[feature] * (2 * np.pi/num))
  return df

In [105]:
merged = encode_cyclical(merged)
merged.head()

   product_id  ...  purchase_day_of_week_cos
0      1234.0  ...                 -0.900969
1      1289.0  ...                 -0.900969
2      1009.0  ...                  0.623490
3      1001.0  ...                 -0.222521
4      1057.0  ...                 -0.222521

[5 rows x 21 columns]

In [106]:
from sklearn.model_selection import train_test_split
categoricals = merged.select_dtypes(object).columns.to_list()
categoricals.append("delivery_company")

x_df = merged.drop("time[min]", axis=1)
y_df = merged["time[min]"]

#x_val-0.2, x_test-0.2, x_train - 0.6
x_rest, x_val, y_rest, y_val = train_test_split(x_df, y_df, test_size=0.2, random_state=78 )
x_train, x_test, y_train, y_test = train_test_split(x_rest, y_rest, test_size=0.25, random_state=78 )
print(x_test.shape, y_test.shape, x_val.shape, y_val.shape, x_train.shape, y_train.shape)

(1458, 20) (1458,) (1458, 20) (1458,) (4371, 20) (4371,)

In [107]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

encoded_train = pd.DataFrame(encoder.fit_transform(x_train[categoricals]), index = x_train.index)
encoded_test = pd.DataFrame(encoder.transform(x_test[categoricals]), index = x_test.index)
encoded_val = pd.DataFrame(encoder.transform(x_val[categoricals]), index = x_val.index)

x_train = pd.concat([x_train.drop(categoricals, axis=1), encoded_train], axis=1)
x_test = pd.concat([x_test.drop(categoricals, axis=1), encoded_test], axis=1)
x_val = pd.concat([x_val.drop(categoricals, axis=1), encoded_val], axis=1)

print(x_test.shape, y_test.shape, x_val.shape, y_val.shape, x_train.shape, y_train.shape)

(1458, 658) (1458,) (1458, 658) (1458,) (4371, 658) (4371,)

In [108]:
x_test.dtypes

product_id            float64
offered_discount      float64
price                 float64
purchase_month_sin    float64
purchase_month_cos    float64
                       ...
640                   float64
641                   float64
642                   float64
643                   float64
644                   float64
Length: 658, dtype: object

In [109]:
from sklearn.metrics import median_absolute_error
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(x_train, y_train)
pred_train = reg.predict(x_train)
pred_test = reg.predict(x_test)

train_score = median_absolute_error(pred_train, y_train)
test_score = median_absolute_error(pred_test, y_test)
print(f'LinearRegression - train MAE: {train_score}, test MAE: {test_score}')

LinearRegression - train MAE: 482.32340582092456, test MAE: 537.0152715059535

In [110]:

from sklearn.tree import DecisionTreeRegressor

reg = DecisionTreeRegressor(random_state=78)
reg.fit(x_train, y_train)
pred_train = reg.predict(x_train)
pred_test = reg.predict(x_test)

train_score = median_absolute_error(pred_train, y_train)
test_score = median_absolute_error(pred_test, y_test)
print(f'Decision tree- train MAE: {train_score}, test MAE: {test_score}')

Decision tree- train MAE: 0.0, test MAE: 352.0

In [113]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(random_state=78)
reg.fit(x_train, y_train)
pred_train = reg.predict(x_train)
pred_test = reg.predict(x_test)

train_score = median_absolute_error(pred_train, y_train)
test_score = median_absolute_error(pred_test, y_test)
print(f'Random Forest - train MAE: {train_score}, test MAE: {test_score}')

Random Forest - train MAE: 117.65000000000009, test MAE: 319.8699999999999

In [114]:
print(categoricals)

['city', 'product_name', 'category_path', 'street_name', 'street_name*num', 'city*stret_name', 'delivery_company']